.body{
    font-family: Arial, sans-serif;
    margin: 20px;
    
  }
  .red-border {
      border: 1px solid red;
    }
  .red-border1 {
      border: 1px solid red;
    }
  .green-border{
      border: 3px solid green;
  } 
  .green-border2{
    border: 3px solid green;
  } 
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input{
    width: 500px;
  }
  p {
    margin: 0;
    font-size: 12px;
    color: red;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  button:hover {
    background-color: #217025;
  }