<!-- work on angular form -->
<h2>Simple form assigment</h2>
<ol>
  <li> Style the form and make it more beautifull form.</li>
  <li> Make it responsive.</li>
  <li> Form field should turn red in case of empty entry for required field(Make a red border with required message in red color below form field).</li>
  <li> If the field is not required simply turn it green after user either fill the field or visit the field.</li>
  <li> After user fill the form field must turn green (a green border;)</li>
  <li> Do not use external css library </li>
  <li> You can edit html file (for only this question)</li>
</ol>
<form [formGroup]='userForm' (ngSubmit)='callAfterSubmit(testForm)' class="formExample">
    <h1>simple user details form</h1>
    <br/>
    <label>First name(required)</label>
    <input type="text"  placeholder="First name" name='firstname' formControlName='firstName'/>
    <ng-container *ngIf="(userForm.controls['firstName'].touched || userForm.controls['firstName'].dirty) && userForm.controls['firstName'].invalid">
        <p *ngIf="userForm.controls['firstName'].errors.required">Field is required</p>
    </ng-container>
    <br/>
    <label>Middle name(required)</label>
    <input type="text"  placeholder='Middle name' name='middlename' formControlName='lastName'  />
    <ng-container *ngIf="(userForm.controls['lastName'].touched || userForm.controls['lastName'].dirty) && userForm.controls['lastName'].invalid">
        <p *ngIf="userForm.controls['lastName'].errors.required">Field is required</p>
    </ng-container>
    <br/>
    <label>Email (required)</label>
    <input type="text"  placeholder='Email' name='email' formControlName='emailField'  />
    <ng-container *ngIf="(userForm.controls['emailField'].touched || userForm.controls['emailField'].dirty) && userForm.controls['emailField'].invalid">
        <p *ngIf="userForm.controls['emailField'].errors.required">Field is required</p>
        <p *ngIf="userForm.controls['emailField'].errors.email">Invalid email address</p>
    </ng-container>
    <br/>
    <label>Age(required)</label>
    <input type="text"  placeholder='age' name='age' formControlName='ageField' />
    <ng-container *ngIf="(userForm.controls['ageField'].touched || userForm.controls['ageField'].dirty) && userForm.controls['ageField'].invalid">
        <p *ngIf="userForm.controls['ageField'].errors.required">Field is required</p>
        <p *ngIf="userForm.controls['ageField'].errors.min">Minimum age is 18</p>
        <p *ngIf="userForm.controls['ageField'].errors.max">Maximum age is 30</p>
    </ng-container>
    <br/>
    <label>Address(required)</label>
    <input type="text"  placeholder="Adress1" name='address1' formControlName='address1'/>
    <ng-container *ngIf="(userForm.controls['address1'].touched || userForm.controls['address1'].dirty) && userForm.controls['address1'].invalid">
        <p *ngIf="userForm.controls['address1'].errors.required">Field is required</p>
        <p *ngIf="userForm.controls['address1'].errors.maxlength">Max length is 10</p>
    </ng-container>
    <br>
    <label>Address2</label>
    <input type="text"  placeholder="Adress2" name='address2' formControlName='address2'/>
    <ng-container *ngIf="(userForm.controls['address2'].touched || userForm.controls['address2'].dirty)">
    </ng-container>
    <br/>
    <label>Address3</label>
    <input type="text"  placeholder="Adress3" name='address3'  formControlName='address3' />
    <ng-container *ngIf="(userForm.controls['address3'].touched || userForm.controls['address3'].dirty)">
    </ng-container>
    <br/>
    <button type="submit" class="continueBtn">submit</button>
</form>