form{
    padding: 20px;
    margin: auto;
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(31, 8, 8, 0.8);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
