.test-form-container {
  @media only screen and (max-width: 500px) {
    padding: 1rem;
  }

  div {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    padding-right: 2rem;

    @media only screen and (max-width: 500px) {
      padding-right: 0;
    }

    label {
      font-weight: bold;
    }

    input {
      border-radius: 7px;
      padding: 1rem;
      background-color: #f4f6f9;
      border: none;

      &:focus {
        outline-color: #e9e9e9;
        border: none !important;
      }
    }
  }
}

input.ng-invalid.ng-touched {
  border: 2px solid red !important;

  +p {
    color: red;
  }
}

input.ng-valid.ng-touched {
  border: 2px solid green !important;
}

.submit-row {
  padding: 1rem 0;

  div {
    padding: 0;

    .btn {
      width: 100%;
      padding: 0.5rem;
    }
  }
}
