<p>
   For every part make only parent class selector, for example for <b>part1</b> there will be one selector and for <b>part2</b> there will be another.
 </p>
 <b>To Note</b>
 <ol>
   <li>Using only one parent class with child or siblings selector will be preferred for every problem .</li>
   <li>Don't touch <b>html</b> file, make changes on only <b>css</b> or <b>scss</b> file.</li>
 </ol>

 <h4>1) color the given elements(div, span, p)  as per mention in line </h4>
<div class="part1">
  <p>Make me red.</p>
  <span>Make me blue.</span>
  <div>
    <p>Make me green.</p>
    <span>Make me blue.</span>
  </div>
  <p>Make me yellow.</p>
</div>

<hr>

<h4>1) color the given <b>li</b> as per mention in line. </h4>
<div class="part2">
  <p>This is an infinite list.</p>
  <ol>
    <li>Make me red</li>
    <li>Make me red</li>
    <li>Make me green</li>
    <li>Make me red</li>
    <li>Make me red</li>
    <li>Make me green</li>
    <li>Make me red</li>
    <li>Make me red</li>
    <li>Make me green</li>
    <li>Make me red</li>
  </ol>
</div>
<hr>


<h4>2) color the given <b>div</b> as per mention in line.</h4>
<div class="part3">
  <div>Make me blue</div>
  <div>Make me blue</div>
  <div>Make me blue</div>
  <div>Make me blue</div>
  <div>Make me blue</div>
  <span class="iAffectMyNextdiv">Red Poison</span>
  <div>Make me Red [as I have poison effect]</div>
  <div>Make me blue</div>
  <div>Make me blue</div>
  <span>I am safe</span>
  <div>Make me blue</div>
  <div>Make me blue</div>
  <span class="iAffectMyNextdiv">Red Poison</span>
  <div>Make me Red [as I have poison effect]</div>
</div>

<hr>

<h4>2) color the given <b>link</b> as per mention in line.</h4>
<div class="part4">
  <div>
    <a href="https://www.google.com">Make me Red</a>
  </div>
  <div>
    <a href="https://www.google.com" target="_blank">Make me Yellow</a>
  </div>
  <ul>
    <li><a href="https://www.google.com" target="_blank">Make me Yellow</a></li>
    <li><a>Make me Green</a></li>
    <li><a href="https://www.google.com">Make me Red</a></li>
  </ul>
  <p>
    <a href="https://www.google.com" target="_blank">Make me Yellow</a>
  </p>
  <a href="https://www.google.com">Make me Red</a>
</div>