<ol>
  <li>Solve given problem as mush as you can in given time interval.</li>
  <li>Give us pull request, after commiting changes.</li>
  <li>Make sure don't change html file, as per mention in problem statement.</li>
</ol>
<br>
<br>
<br>
<br>
<br>
<h1>How to run ?</h1>
<ol>
  <li><h5>Clone project</h5> </li>
  <li><h5>Create new branch, and checkout it.</h5></li>
  <li><h5>Every commit must be made from your branch.</h5></li>
  <li><h5>make sure you have <b>nodejs</b> and <b>@angular/cli</b> installed.</h5></li>
  <li><h5>go project directroy and run <q>npm i</q></h5></li>
  <li><h5>Run <b>ng serve after that</b></h5></li>
  <li><h5>Then after go to <q>localhost:4200</q></h5></li>
</ol>
 