#colorchilderen > div > div > div {
    color: red;
  }
#colorchilderen > div > div > div > div {
    color: yellow;
}
#colorchilderen > div {
    color:green;
}
#bluecolor  li:nth-child(2){
    color: blue;
}

#evenodd li:nth-child(odd) {
    color: green;
}
#evenodd li:nth-child(even) {
    color: red;
}

#lastselector li:last-child{
    color: red;
}

a[href*=".com"] {
  color: red !important;
}

a {
    color: inherit !important; 
    text-decoration: none !important; 
  }
  
a:hover {
    color: red !important; 
  }
  
a:active {
    color: blue !important;
  }