<h1 class="text-center">Responsive Color</h1>
<b>To Note</b>
<ol>
  <li>Make responsive text color, color should change after changing browser size (width).</li>
  <li>Make sure that mention size below is width not height or viewport</li>
  <li>Don't touch <b>html</b> file, make changes on only <b>css</b> or <b>scss</b> file.</li>
</ol>
<hr>

<div class="container">
  <ol class="color-index">
    <li>min: 0px to max: 100px ->> RED</li>
    <li>min: 101px to max: 200px ->> BLUE</li>
    <li>min: 201px to max: 300px ->> GREEN</li>
    <li>min: 301px to max: 400px ->> YELLOW</li>
    <li>min: 401px to max: 500px ->> ORANGE</li>
    <li>min: 501px to max: 600px ->> PURPLE</li>
    <li>min: 601px to max: 700px ->> RED</li>
    <li>min: 701px to max: 800px ->> BLUE</li>
    <li>min: 801px to max: 900px ->> ORANGE</li>
    <li>min: 901px to max: infinity ->> GREY</li>
  </ol>
</div>

<hr>

<div class="task default text-center">
  <h3>COLOR Responsive Text</h3>
</div>