@media screen and (max-width: 100px){
    * {
        color: red;
    }
}
@media screen and (min-width: 101px){
    * {
        color: blue;
    }
}
@media screen and (min-width: 201px){
    * {
        color: green;
    }
}
@media screen and (min-width: 301px){
    * {
        color: yellow;
    }
}
@media screen and (min-width: 401px){
    * {
        color: orange;
    }
}
@media screen and (min-width: 501px){
    * {
        color: purple;
    }
}
@media screen and (min-width: 601px){
    * {
        color: red;
    }
}
@media screen and (min-width: 701px){
    * {
        color: blue;
    }
}
@media screen and (min-width: 801px){
    * {
        color: orange;
    }
}
@media screen and (min-width: 901px){
    * {
        color: grey;
    }
}