@media (max-width: 100px) {
 .color-index{
     color:red;
 } 
}
@media (max-width: 200px) {
    .color-index{
        color:blue;
    } 
   }
   @media (max-width: 300px) {
    .color-index{
        color:green;
    } 
   }
   @media (max-width: 400px) {
    .color-index{
        color:yellow;
    } 
   }
   @media (max-width: 500px) {
    .color-index{
        color:orange;
    } 
   }
   @media (max-width: 600px) {
    .color-index{
        color:purple;
    } 
    
   }
   @media (max-width: 700px) {
    .color-index{
        color:red;
    } 
   }
   @media (max-width: 800px) {
    .color-index{
        color:blue;
    } 
   }
   @media (max-width: 900px) {
    .color-index{
        color:orange;
    } 
   }
   @media (min-width: 900px) {
    .color-index{
        color:grey;
    } 
   }
      