<div class="section1">
    <p>
       Make a top <b>div</b> a big blue box of 1000*1000 size and put childeren boxes in the given position as per mention in given file.
    </p>
    <b>To Note</b>
    <ol>
      <li>Child div must be of size of 100*100 of different color</li>
      <li>There must be two big blue parent box for <q>arrange1</q> and <q>arrange2</q></li>
      <li>Don't touch <b>html</b> file, make changes on only <b>css</b> or <b>scss</b> file.</li>
    </ol>
  <div class="arrange1">
    <div>Top | Left</div>
    <div>Top | Center</div>
    <div>Top | Right</div>
  </div>
  <div>
    <div>Mid | Left</div>
    <div>Mid | Center</div>
    <div>Mid | Right</div>
  </div>
  <div>
    <div>Bottom | Left</div>
    <div>Bottom | Center</div>
    <div>Bottom | Right</div>
  </div>
</div>

<div class="arrange2">
  <div>Top | Left</div>
  <div>Top | Center</div>
  <div>Top | Right</div>

  <div>Mid | Left</div>
  <div>Mid | Center</div>
  <div>Mid | Right</div>

  <div>Bottom | Left</div>
  <div>Bottom | Center</div>
  <div>Bottom | Right</div>
</div>
