<div class="section1">
  <div>
    <div>Top | Left</div>
    <div>Top | Center</div>
    <div>Top | Right</div>
  </div>
  <div>
    <div>Mid | Left</div>
    <div>Mid | Center</div>
    <div>Mid | Right</div>
  </div>
  <div>
    <div>Bottom | Left</div>
    <div>Bottom | Center</div>
    <div>Bottom | Right</div>
  </div>
</div>

<div class="arrange2">
  <div>Top | Left</div>
  <div>Top | Center</div>
  <div>Top | Right</div>

  <div>Mid | Left</div>
  <div>Mid | Center</div>
  <div>Mid | Right</div>

  <div>Bottom | Left</div>
  <div>Bottom | Center</div>
  <div>Bottom | Right</div>
</div>
