.t{
  background: red;
}
.t1{
      display: none;
}
.t2{
  color:red;
}
.t3{
  visibility: hidden;
}
.t4{
  text-indent: -9999px;
  white-space: nowrap; 
}
.t5{
  font-size: 0;
}
.t6{
  width:0px;
  height:0px;
  overflow: hidden;
}
.t7{
  position: absolute;
  top:-1000px;

}
.t8{
  opacity: 0;
}
.t9{
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
.t10{
  clip-path: polygon(0px 0px,0px 0px,0px 0px,0px 0px);
}
.t11{
  max-height: 0;
  overflow: hidden;
}
.t12{

}
.t13{

}
.t14{

}
.t15{

}