@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
  }

  .t{
    .t {
      background: red;
    }
  }
  .t1 {
    display: none;
  }
  
  .t2 {
    opacity: 0;
  }
  
  .t3 {
    visibility: hidden;
  }
  
  .t5 {
    background: white !important;
    color: white;
  }

  .t11 {
    height: 0;
    overflow: hidden;
  }